<div class="form-wrapper">


<form class="form-el" action="/sights/" method="post">
  <input type="hidden" name="_method" value="put">

<label for="city_select">Select City:</label>
<select name="city_id" id="city-select">
  <option value=""></option>
  </select>


<div class="form-el">
  <label for="country-name" class= "country-label">Country name:</label>
  <input type="text" name="city_name" value="" />
</div>


</form>
</div>
