<ul>
  <% for list_item in @trip %>
  <li><%=list_item.sight.name%>
    <%if list_item.visited == 't'%>
    |  You have been!
  <% else %>
    |  This adventure is yet to come!
    <%end%>
  </li>
<% end %>
</ul>
