<!DOCTYPE html>
<html>
<head>
  <title>My Trip Tracker</title>
  <link href="https://fonts.googleapis.com/css?family=Amarante|Rye" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <script src="https://kit.fontawesome.com/cb58c946eb.js" crossorigin="anonymous"></script>

</head>
<body>
  <nav id="menu">


    <li class="menu-item"><a href="/sights/index/"><i class="fas fa-binoculars"></i> Sights  </a><a href="/cities/index/"><i class="fas fa-city"></i> Cities  </a><a href="/countries/index/"><i class="fas fa-flag"></i> Countries</a></li>




    <li class="menu-item"><a href='/sights/new'>Add a new adventure</a></li>
    <li class="menu-item"><a href='/trips'>Show me my bucket list</a></li>



  </nav>
  <h1 id="logo"><a href='/trips'>My Trip Tracker</a></h1>

<%= yield %>

</body>
</html>
