<!DOCTYPE html>
<html>
<head>
  <title>My Trip Tracker</title>
  <link href="https://fonts.googleapis.com/css?family=Amarante|Rye" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <script src="https://kit.fontawesome.com/cb58c946eb.js" crossorigin="anonymous"></script>

</head>
<body>
  <nav id="menu">


    <li class="menu-item"><a href="/sights"><i class="fas fa-binoculars"></i> Sights&nbsp&nbsp</a><a href="/cities"><i class="fas fa-city"></i>&nbspCities&nbsp&nbsp</a><a href="/countries"><i class="fas fa-flag"></i>&nbspCountries</a></li>




    <li class="menu-item"><a href='/sights/new'><i class="fas fa-globe-europe"></i>&nbsp&nbspAdd a new adventure&nbsp&nbsp<i class="fas fa-globe-americas"></i></a></li>
    <li class="menu-item"><a href='/trips'><i class="fas fa-clipboard-check"></i>&nbsp&nbspShow me my bucket list&nbsp&nbsp<i class="fas fa-clipboard-check"></i></a></li>



  </nav>
  <h1 id="logo"><a href='/trips'>My Trip Tracker</a></h1>

<%= yield %>

</body>
</html>
