<form class ="form-el" action="/trips/new" method="post">

<label for="sight_select">Select from your exisiting list of sights:</label>
<select name="sight_id" id="sight_select">

  <% @sights.each do |sight| %>
  <option value="<%= sight.id %>"><%= sight.name %></option>
  <% end %>
  </select>

  <input type='submit' value="Add sight to your bucket list!"/>
</form>


<p>Or you can add a new sight here!</p>

<form class="form-el" action="/sights/new" method="post">


<select name="city_id" id="city_select">

  <% @cities.each do |city| %>
  <option value="<%= city.id %>"><%= city.name %></option>
  <% end %>
  </select>


       <label for="sight-name">What is the name of the new sight?</label>
         <input id="sight-name" type="text" name="name">
        <input type='submit' value="Add sight"/>
</form>
