<h2>Dummy text1</h2>

<h3>Dummy Text2</h3>
<h3>Dummy text3</h3>



<form class="" action="/bucketlist/" method="post">
    <input type="" name="_method" value="delete">
    <input type="submit" value="Delete bucketlist">
  </form>
