<form class="form-1" action="/cities/<%= @city.id %>" method="post">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="country_id" value="<%= @city.country.id %>" />
  <input type="text" name="name" value="<%= @city.name %>">
  <input type="submit" value="Save">
</form>
