<form class="" action="/cities" method="post">

  <!-- select list of countries -->
  <select name="country_id" id="country">

    <% @countries.each do |country| %>
    <option value="<%= country.id %>"><%= country.name %></option>
    <% end %>
    </select>

  <input type="text" name="name" value="">
  <input type='submit' value="Add city to 'Where next?'"/>



</form>
