<form class="form-1" action="/sights/<%= @sight.id %>" method="post">
  <input type="hidden" name="_method" value="put" />


  <input type="text" name="name" value="<%= @sight.name %>">

  <input type="submit" value="Save">
</form>
