<ul class="trip-list">
  <% for list_item in @trips %>
  <li class="list-item">
    <%=list_item.sight.name%>
    <%if list_item.visited == 't'%>
    |  Tick another one off!
  <% else %>
    |  This adventure is yet to come!
  <%end%>
  <div class="medium-text">
    <i class="fas fa-trash-alt"></i>


<button type="button"><a href="####">Delete trip</a></button>
    <i class="fas fa-edit"></i>


    <button type="button"><a href="####">Edit trip</a></button>
  </div>
  </li>
  <% end %>
</ul>
